[Desktop Entry]
Type=Application
Name=Atualizar firmware do Corne
Comment=Compila e grava o firmware mais recente no teclado
Exec=/home/deck/zmk-config-urob/scripts/flash-keyboard-gui.sh
Icon=input-keyboard
Terminal=false
Categories=Utility;
